# Live Web Portal URL (e.g., your Vercel or Netlify deployed app URL)
VITE_WEB_PORTAL_URL=https://mediawavetech.vercel.app/login
VITE_INTERNSHIP_PORTAL_URL=https://mediawavetech.vercel.app/internship-enquiry
